<div class='container'>
    <nav class="navbar navbar-light bg-light">
        <form class="container-fluid justify-content-start">
            <button routerLink='userapp' class="btn btn-outline-primary me-1" type="button">User-Application</button>
            <button routerLink='user' class="btn btn-outline-primary me-1" type="button">User</button>
            <button routerLink='application' class="btn btn-outline-primary me-1" type="button">Application</button>
        </form>
    </nav>
    <router-outlet></router-outlet>
</div>